
<%- include ('header') %>

<div class="result">
   <% if(error) { %>
      <%= error %>
   <% }else{ %>
      <%= quantidade %>
      dolares na cotação 
      <%= cotacao %> é igual a <%= conversao %> reais 
   <% } %>
</div>
<!-- Inclusão do jQuery -->
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!-- Inclusão do Plugin jQuery Validation -->
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<!-- <script src="validacao.js"></script> -->

<section id="cotacao">
   <img id="cotacao" src="https://cambiocuritiba.com/wp-content/uploads/2018/04/comprar-dolar-turismo-curitiba-casa-de-cambio.jpg" width="100%" height="80%">
</section>

<%- include ('footer') %>