
<%- include ('header') %>

<div class="result">
   <% if(error) { %>
      <%= error %>
   <% }else{ %>
      <%= amount %>
      dollars in the price 
      <%= price %> equals: <%= conversion %> reais 
   <% } %>
</div>

<%- include ('footer') %>